<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td colspan="3">
                <p>Map number: <span id="mapNumber"></span></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <form action="" method="post">
                    <input type="hidden" name="left" value="left"/>
                    <input value="Previous" type="submit" id="goPreviousStyle"/>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="main" value="main"/>
                    <input value="Main page" type="submit"/>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="right" value="right"/>
                    <input value="Next" type="submit" id="goForwardStyle"/>
                </form>
            </td>
        </tr>
    </table>
    <table id ="printingId">
    </table>
</div>
<!--<footer id="footerId"></footer>-->
</body>
</html>