<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div align="center">
    <img src="https://avp.prodosgames.com/sites/avp.prodosgames.com/files/img/940 (Large).jpg" width="50%" height="50%"/>
    <table>
        <tr>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="create" value="create"/>
                    <input value="Create map" type="submit"/>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="gallery" value="gallery"/>
                    <input value="Gallery" type="submit"/>
                </form>
            </td>
        </tr>
    </table>
    <p id="messageId"></p>
</div>
<footer id="footerId"></footer>
</body>
</html>