<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div align="center">
    <p>Here is your randomly generated map:</p>
    <table>
        <tr>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="create" value="create"/>
                    <input value="Create again" type="submit"/>
                </form>
            </td>
            <td style="text-align: center;">
                <form action="" method="post">
                    <input type="hidden" name="main" value="main"/>
                    <input value="Main page" type="submit"/>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="save" value="save"/>
                    <input value="Save map" type="submit"/>
                </form>
            </td>
        </tr>
    </table>
    <table id="printingId">
    </table>
</div>
<!--<footer id="footerId"></footer>-->
</body>
</html>